<h1>Users New page</h1>

<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :encrypted_password %>
  <%= f.text_field :encrypted_password %>
  <%= f.label :role %>
  <%= f.text_field :role %>
  <%= f.submit %>
<% end %>
