<h1>Reviews New page</h1>

<%= form_for [@omelette, @review], url: omelette_reviews_path do |f| %>
  <div class="field">
    <%= f.label :rating %>
    <%= f.text_field :rating, id: 'rating' %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, id: 'body' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
