<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% flash.each do |key, value| %> <%= value %> <% end %>

    <div className="row">
      <div className="header">
        <div className="small-6 medium-6 large-6 columns">
          <div class="title">
            <h1>Eggxit Review</h1>
          </div>
        </div>
        <div className="small-6 medium-6 large-6 columns text-right">
          <div className="login">
            <%= link_to "Register", new_user_path %> | <%= link_to "Login", root_path %>
          </div>
        </div>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
