<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

      <% flash.each do |key, value| %> <%= value %> <% end %>

      <% flash.each do |key, value| %> <%= value %> <% end %>

    <!-- navigation -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Eggxit Review</li>
        </ul>
      </div>

      <div class="top-bar-right">
        <ul class="menu">
          <li><%= link_to "Register",  new_reg_user_registration_path %></li>
          <li><%= link_to "Login", root_path %></li>

        </ul>
      </div>
    </div>



    <%= yield %>

  </body>
</html>
