<% if current_reg_user.admin? %>
  <p>
    <%= link_to "Trash omelette", reg_user_omelette_path, method: :delete, data: {confirm: "Are you sure?" } %>
  </p>
<% end %>
<h1><%= @omelette.title %></h1>
<%= @omelette.description %>
<%= @omelette.ingredients %>
<img src="<%= @url %>" />
